# Database
POSTGRES_DB=mlflow_db
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow

# Optional MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MLFLOW_S3_BUCKET=mlflow

# Logger URI (use host IP for network)
MLFLOW_TRACKING_URI=http://localhost:5000