POSTGRES_DB=mlflow_db
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MLFLOW_S3_BUCKET=mlflow

# For logger on other PCs: Use host IP
MLFLOW_TRACKING_URI=http://192.168.0.104:5000